In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdasdasdasdasda'))

In [3]:
s

0     a
1     s
2     d
3     a
4     s
5     d
6     a
7     s
8     d
9     a
10    s
11    d
12    a
13    s
14    d
15    a
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [6]:
s.value_counts()

a    6
d    5
s    5
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64